.login-header {
  background: var(--ion-color-primary);
  position: relative;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background: white;
    height: 50px;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
  }

  img {
    width: 120px;
  }
}

form {
  padding: 0px 25px;
}

ion-button {
  margin-top: 25px;
}
