<ion-content padding="true">
  <div class="login-header">
    <img src="assets/logo_white.png" />
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
    <h1>Cadastrar</h1>
    <hr />
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirme a senha</ion-label>
      <ion-input
        formControlName="password_confirmation"
        type="password"
      ></ion-input>
    </ion-item>
    <ion-button
      [disabled]="signupForm.invalid"
      mode="ios"
      size="large"
      expand="block"
      type="submit"
      >Cadastrar</ion-button
    >
    <br />
    <div class="ion-text-center">
      Já tem uma conta? <a routerLink="/login">Voltar para o login!</a>
    </div>
  </form>
</ion-content>
